

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

body
{
}

body,input,textarea,select
{
    font-size: 11pt;
}


/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

#page
{
    padding: 2em 0em 6em 0em;
}

#subpage #page
{
    padding: 2em 0em;
}



#subpage #main
{
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 6em;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer
{
    padding: 0em 0em 4em 0em;
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

#featured
{
    padding: 4em 0em;
}


#featured .divider
{
    padding: 2em 0em;
}



#logo{
    margin-top: 20px;
}